body {
	margin:0;
	padding:0;
	color:#666;
	font-family:Arial;
	background: #fcfcfc;
}
#content {
	margin:2em auto;
	/*width:49em;*/
	width:900px;
	padding: 0 16px;
	max-width:90%;
	position:relative;
	background:#fff;
}
#footer {
	font-style: italic;
	font-size: small;
	text-align: right;
	letter-spacing: 2px;
	vertical-align: bottom;
	line-height: 40px;
	margin: 0 -16px;
	padding: 5px 40px;
	background: url('images/grunt.png') no-repeat right center #eee;
}
#desc {
	margin:0 120px 0 0;
	font-size:.85em;
	line-height:1.35em;
}
#likepage {
	margin:8px;
	min-height: 2em;
	float:right;
	clear: both;
	text-align: right;
}
#tech {
	clear:both;
}
#ribbon {
	display: block;
	position: absolute;
	top: -1px;
	right: -1px;
	opacity: 0.4;
}
#bubbles {
	position:absolute;
	top:-34px;
	right:90px;
	z-index:0;	
	width:90px;
	height:150px;
	background: url('images/labs.png') -25px -70px no-repeat;
	opacity: 0.8;
}
h1 {
	position: relative;
	color:#f90;
	float: left;
	font-size:2em;
	letter-spacing:.125em;
	font-weight: normal;
	text-transform: capitalize;
	margin:16px 0;
	z-index: 100
}
h1 em {
	color:  #aae;
	font-size:.65em;
}
h1 img {
	vertical-align: middle;
}
#desc {
	clear: both;
}
h4 {
	font-weight: normal;
	letter-spacing: 2px;
	margin:10px 0 2px 0;
	color: #c5cdd4;
	font-size:1em;
}
h5 {
	letter-spacing: 1px;
}
hr {
	border:none;
	border-top:2px solid #c5cdd4;
	margin:20px 0;
	clear:both;
}
label {
	margin:2px;
}
a {
	color:#f80;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
#findapps:focus,
#findapps {
	border:1px solid #e5edf4;
    background:#fff;	
	color: #666;
	margin:0 30px;
	background:url('images/labs.png') no-repeat 1px -19px;
	padding-left:20px;
	height:24px;
	line-height:24px;
}
#findapps.inactive {
	color: #ccc;
}
#findapps:focus {
	border:1px solid #e5edf4;
}


#actives,
#deactives {
	overflow:hidden;
	clear:both;
	margin: 10px 0;
	padding-top:10px;
}
#actives {
	border:none;
	margin-top:0;
	padding: 8px 0;	
}
#deactives {
	margin: 0 -16px;
	padding: 16px;
	border-top: 8px solid #fcfcfc;
}

#feedback {
	clear:both
}


#copy {
	position:fixed;
	z-index:1000;
	right:-6px;
	top:-6px;
	font-style:italic;
	font-size:.85em;
	padding:5px 8px;
	background: #fff;
	border:2px solid #c5cdd4;
	border-radius:.7em;
	opacity: 0.8; 		
}
#tags,
.tags {
	clear:both;
	overflow:hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
.box {
	position:relative;
	float:left;
	width:26%;
	height:9.5em;
	margin:10px;
	padding:16px;
	border: 1px dotted #ccc;
	ackground-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0))
}
.box:before {
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	width: 20px;
	height: 20px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}
.box:after {
	content: '';
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: 20px;
	height: 20px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-right-bottom-radius: 4px;
}

.box h5 {
	text-transform:capitalize;
	font-size:1em;
	margin:0;
	font-weight: normal;
}
.icon {
	display: inline-block;
	float: left;
	width:18px;
	height:18px;
	background: url('images/labs.png') no-repeat;
}
.icon.git {
	background-position: 0 0;
	opacity: 0.5;
}
.icon.git:hover {
	opacity: 0.8
}
.icon.bit {
	background-position: -20px 0;
}
.icon.hg {
	background-position: -40px 0;
}
.icon.star,
.icon.unstar {
	background: none;
	font-size: 28px;
	line-height: 28px;
	color:#f80;
}
.icon.unstar {
	color: #ccc;
}
.stars {
	float:left;
	clear:both;
}
.stars .icon {
	display: inline-block;
	border: none;
}
.icon.repo {
	position: absolute;
	right: 16px;
	top: 16px;
}
.desc {
	clear:both;
	height: 3.8em;
	font-size:13px;
	color: #888;
	padding:0;
	margin:4px 0;
	overflow:hidden;
}
.tags {
	position: absolute;
	bottom: 16px;
	left: 16px;
	right: 16px;
	margin:.25em -0.125em .25em -0.125em;
}
.tag {
	cursor:pointer;
	float:left;
	display:block;
	margin:.125em;
	background: #fff;
	border:1px solid #c1bad4;
	color:#7A738B;
	padding:3px 6px;
	text-decoration:none;
	font-size:12px;
	letter-spacing: 1px
}
.tag span:before {
	font-size: 18px;
	vertical-align: middle;
	line-height: 15px;
	margin-left: -4px;
	/*content: '•';*/
	content: '∘';
	color: #c1bad4;
}
#tags a.tag {
	margin:.25em;
}
.tag.sel {
	border:1px solid #f80;
	color: #f80;
}
.tag.sel span:before {
	color: #f80;
}

.tag b {
	text-shadow: -1px -1px 0 #aaa;
}
.tag small {
	display:none;
}
.tag.sel small {
	display:inline;
}
.tag:hover {
	background:#eee;
	text-decoration: none;
}
.tag.sel:hover {
	background:#fec;
}

#deactives .box {
	color: #666;
	font-size:.85em;
	width:20%;
	height:10em;
	background: #fff;
}
#deactives a {
	color: #5a6770
}
#deactives .tag {
	font-size: 10px;
	padding: 2px 4px;
}
#deactives .box.hover {
	background: #ffe6a1;
	border:2px solid #f80;
}
#deactives .desc {
	height:5em;
}
#deactives .star {
	color: #ccc;
}
#deactives .repos {
	display:none;
}

@media screen and (max-width: 420px) {
	#content {
		padding:16px 8px;
		margin:2em 0;
		width:auto;
		max-width:100%;
		border-left:none;
		border-right:none;
		border-radius:0;
	}
	#desc {
		margin:0;
	}
	.box {
		min-width:284px;
	}
}
