body {
	margin:0;
	padding:0;
	color:#666;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:.85em;	
	background: #e2f7fd;
}
body.maps {
	background-image: url('images/backmap.jpg');
}
.blue {
	color: rgba(112,160,210,1);
}
.blue-bg {
	color: #fff;
	background-color: rgba(112,160,210,0.5)
}
.blue-bg a {
	text-shadow: 0 0 1px #fff;
}
.orange {
	color: #f90;
}
.grey {
	color: #ccc
}
a {
	color:#f90;
	text-decoration:none;
	cursor: pointer;
}
a:hover {
	text-decoration:underline;
}
h1 {
	display: inline;
	font-weight: normal;
	font-weight: bold;
	z-index: 100;
	letter-spacing: .125em;
	position: relative;
}
h1 big {
	margin: 0;
}
#logo {
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
}
.bubbles {
	position: absolute;
	/*bottom: 50px;*/
	left:0;
	opacity: 0;
}
h1:hover big,
h1:hover #logo,
h1:active #logo {
	/*transition: 3s;*/
	animation-duration: 5s;
	animation-name: col;
	animation-iteration-count: infinite;
/*	animation-direction: alternate*/
}
h1:hover .bubbles,
h1:active .bubbles {
	animation-duration: 3s;
	animation-name: bub;
	animation-iteration-count: infinite; 
	animation-direction: initial;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

@keyframes col {
  from {
  	filter: hue-rotate(360deg);
  }
  to {
  	filter: hue-rotate(0deg);
  }
}
@keyframes bub {
  from {
  	opacity: 0.5;
    transform: translateY(60px) scale(0.4);
  }
  to {
  	opacity: 1;
  	transform: translateY(-90px) scale(1.2);
  }
}
h1 a:hover {
	text-decoration: none;
}
h2 {
	font-weight: normal;
	letter-spacing: 2px;
}
h3 {
	letter-spacing: 1px;
}
hr {
	border:none;
	border-top:2px solid #c5cdd4;
	margin:20px 0;
	clear:both;
}
label {
	margin:2px;
}

ul {
	padding-left: 16px;
	clear:both;
}
li {
	margin-bottom:10px;
}
li a {
	font-size: 1.2em;
}
#content {
	margin:20px auto;
	padding: 0 16px;
	width:900px;
	max-width:90%;
	position:relative;
	background:#fff;
}
#sections {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
#sections li {
	display:block;
	cursor:pointer;
	float:left;
	margin:.125em;
	background: #fff;
	border:1px solid #e3e3e3;
	color:#7A738B;
	padding:10px 30px;
	text-decoration:none;
	font-size:1em;
	letter-spacing: 1px;
}
nav {
	float:left;
	clear: both;
	margin-bottom:20px
}
section {
	clear: both;
}
footer {
	text-align: right;
	letter-spacing: 2px;
	vertical-align: bottom;
	line-height: 40px;
	margin: 0 -16px;
	padding: 5px 40px;
}
#topics {
	clear:both;
}
#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	margin: -1px;
	opacity: 0.3;
}
#findapps:focus,
#findapps {
	float: right;
	border:1px solid #e5edf4;
    background:#fff;
	margin: 10px 0 2px 0;
	background:url('images/sprite.png') no-repeat 0 -26px;
	padding-left:26px;
	height:24px;
	line-height:24px;
}
#findapps:focus {
	border:1px solid #e5edf4;
}


#actives,
#deactives {
	overflow:hidden;
	clear:both;
	margin: 10px 0;
	padding-top:10px;
}
#actives {
	border:none;
	margin-top:0;
	padding: 8px 0;	
}
#deactives {
	margin: 0 -16px;
	padding: 16px;
	border-top: 8px solid #DFF7FF;
}

#feedback {
	clear:both
}


#copy {
	position:fixed;
	z-index:1000;
	right:-6px;
	top:-6px;
	font-style:italic;
	font-size:.85em;
	padding:5px 8px;
	background: #fff;
	border:2px solid #c5cdd4;
	border-radius:.7em;
	opacity: 0.8; 		
}

#tags,
.tags {
	clear:both;
	overflow:hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
.box {
	position:relative;
	float:left;
	width:25%;
	height:11em;
	margin:10px;
	padding:16px;
	border: 1px dotted #ccc;
	ackground-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0))
}
.box:before {
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	width: 20px;
	height: 20px;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}
.box:after {
	content: '';
	position: absolute;
	bottom: -1px;
	right: -1px;
	width: 20px;
	height: 20px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-right-bottom-radius: 4px;
}

.title {
	text-transform:capitalize;
	font-size:1em;
	margin:0;
	font-weight: normal;
}
.icon {
	display: inline-block;
	float: left;
	width:24px;
	height:24px;
	background: url('images/sprite.png') no-repeat;
}
.icon.git {
	background-position: 0 0;
	opacity: 0.5;
}
.icon.git:hover {
	opacity: 1
}
.icon.bit {
	background-position: -20px 0;
}
.icon.hg {
	background-position: -40px 0;
}
.icon.star {
	background: none;
	font-size: 28px;
	line-height: 28px
}
.stars .icon {
	display: inline-block;
	border: none;
}
.stars {
	float: left;
	height: 20px;	
}
.repo {
	opacity: 0.6;
	position: absolute;
	right: 16px;
	top: 16px;
}
.desc {
	display: inline-block;
	clear:both;
	height: 3.8em;
	font-size:13px;
	color: #888;
	padding:0;
	margin:4px 0;
	text-overflow: ellipsis;
}
.tags {
	position: absolute;
	bottom: 16px;
	left: 16px;
	right: 16px;
	margin:.25em -0.125em .25em -0.125em;
	overflow: hidden;
}
.tag {
	cursor:pointer;
	float:left;
	display:block;
	margin:.125em;
	background: #fff;
	border:1px solid #e3e3e3;
	color:#7A738B;
	padding:3px 6px;
	text-decoration:none;
	font-size:12px;
	letter-spacing: 1px;
}
.tag span:before {
	font-size: 18px;
	vertical-align: middle;
	line-height: 15px;
	margin-left: -4px;	
/*	content: '∘';	
	content: '#';	*/
	color: #e3e3e3;
}
#tags a.tag {
	margin:.25em;
}
.tag.sel {
	border:1px solid #f80;
	color: #f80;
}
.tag.sel span:before {
	color: #f80;
}
.tag b {
	text-shadow: -1px -1px 0 #aaa;
}
.tag small {
	display:none;
}
.tag.sel small {
	display:inline;
}
.tag:hover {
	background:#eee;
	text-decoration: none;
}
.tag.sel:hover {
	background:#fec;
}

#deactives .box {
	color: #666;
	font-size:.85em;
	width:20%;
	height:10em;
	background: #fff;
}
#deactives a {
	color: #5a6770
}
#deactives .tag {
	font-size: 10px;
	padding: 2px 4px;
}
#deactives .box.hover {
	background: #ffe6a1;
	border:2px solid #f80;
}
#deactives .desc {
	height:5em;
}
#deactives .star {
	color: #ccc;
}
#deactives .repos {
	display:none;
}
@media screen and (max-width: 420px) {
	body,html {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	#content {
		border: none;
		margin:0;
		padding: 0 8px;
		width:auto;
		max-width: 100%;
		display: block;
		border:none;
		border-radius:0;
	}
	.box,
	#deactives .box {
		width: auto;
		min-width: none;
		margin: 8px 0;
		padding: 8px;
	}
	#banner {
		display:none
	}
	nav,
	#donate {
		float: none;
		width: auto;
	}
}



